.shop-list {
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: white;
}

.shop-list > h1 {
  text-align: center;
}

.btn {
  margin: 0.3rem 0;
}

.list-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.list-body_box {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
