.list-body {
  width: 100%;
  height: 50px;
  border: 1px solid #301e1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem;
  border-radius: 8px;
  position: relative;
}

.list-body_title {
  width: 65%;
  height: 100%;
  font-size: 24px;
  padding: 0.3rem 1rem;
}

.empty {
  text-align: center;
  margin: 2rem auto;
}

.list_icon {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: #3bc1c1;
}

.list-body_title.complete {
  color: gray;
  text-decoration: line-through;
}

.list-body.complete {
  background-color: aquamarine;
}
