.list-edit_box {
  display: none;
}

.list-edit_box.edit {
  width: 100%;
  background-color: #7fffd4a3;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  position: absolute;
}
